spring:
  config:
    import: optional:file:.env[.properties]
    activate:
      on-profile: local

  datasource:
    url: ${DB_URL}
    username: ${DB_USER}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    properties:
      hibernate:
        ddl-auto: validate
    show-sql: false

springdoc:
  api-docs:
    enabled: true
  swagger-ui:
    path: /swagger-ui.html

cors:
  allowed-origins:
    - http://localhost:3000
    - http://localhost:5173
    # TODO: 추후에 개발 서버 세팅이 끝나면 []로 바꾸고 application-dev.yml에 해당 도메인 추가