spring:
  application:
    name: morae

  profiles:
    active: local

  jpa:
    properties:
      hibernate:
        format_sql: true
    show-sql: true

springdoc:
  api-docs:
    enabled: false   # 공통: 기본 꺼두기
  swagger-ui:
    path: /swagger-ui.html